<div class="bg-[#f1f5f9] h-autto">
    <div class="p-4">
        <h1 class="font-bold ">What body part do you want to exercise?</h1>
        <mat-chip-listbox [formControl]="chipListControl" (click)="sendRequest()">
            <mat-chip-option value="back">Back</mat-chip-option>
            <mat-chip-option value="cardio">Cardio</mat-chip-option>
            <mat-chip-option value="chest">Chest</mat-chip-option>
            <mat-chip-option value="lower arms">Lower arms</mat-chip-option>
            <mat-chip-option value="lower legs" selected="">Lower legs</mat-chip-option>
            <mat-chip-option value="neck">Neck</mat-chip-option>
            <mat-chip-option value="shoulders">Shoulders</mat-chip-option>
            <mat-chip-option value="upper legs">Upper legs</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="card-container grid grid-cols-2  md:grid-cols-4 gap-4 p-4  ">
        <div class="bg-card p-4 shadow rounded-2xl overflow-hidden bg-[#fff] " *ngFor="let exercise of responseData">
            <img [src]="exercise.gifUrl" class="card-img-top" alt="Exercise Gif">
            <div class="card-body">
                <h2 class="md:font-semibold font-medium">{{ exercise.name }}</h2>
                <p class="md:font-[15px]"><strong>Body Part: </strong> {{ exercise.bodyPart }}</p>
                <p class="md:font-[15px]"><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                <p class="md:font-[15px]"><strong>Target:</strong> {{ exercise.target }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Secondary Muscles:</strong> {{ exercise.secondaryMuscles.join(', ') }}</li>
                    <li class="mt-2"><strong>Instructions:</strong></li>
                    <ul class="list-group list-group-flush text-justify">
                        <li class="list-group-item" *ngFor="let instruction of exercise.instructions">{{ instruction }}
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>